---
layout: default
title: Dublin
---
<div class="large-6 columns">
  <h4>Dublin Dojo</h4>
  <h5>1 Upper Gardiner Street, Dublin 1</h5>
  <hr/>
  <br/>
  <p>The Dublin dojo is at the northwest corner of Mountjoy Square, about a fifteen-minute walk from O'Connell bridge. The daily meditation schedule is set out below.</p>
  <p>For information please email: <script type="text/javascript">var a = new Array('.com','zen.in.','ireland@gmail', '?', 'subject=Dublin Zendo');document.write("<a href='mailto:"+a[1]+a[2]+a[0]+a[3]+a[4]+"'>"+a[1]+a[2]+a[0]+"</a>");</script></p>


  {% for post in site.posts %}
    {% if post.tags contains 'dublin' %}
      <div>
        <h5>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <small style="margin-left: 20px">
            {{ post.date | date_to_string }}
          </small>
        </h5>
        {{ post.content }}
      </div>
    {% endif %}
  {% endfor %}


  <div class="fb-page" data-href="https://www.facebook.com/earthandskyzen" data-tabs="" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
    <blockquote cite="https://www.facebook.com/earthandskyzen" class="fb-xfbml-parse-ignore">
      <a href="https://www.facebook.com/earthandskyzen">Earth + Sky Zen</a>
    </blockquote>
  </div>


  <ul class="pricing-table athenry">
    <li class="title">Meditation times:</li>
    <li class="description">
  	  <p>Please arrive 10 minutes before start.</p><p>Beginners please come on a Sunday at 5.40pm for a basic introduction.</p>
  	  <p>The dojo is closed on the Sunday and Monday of bank holiday weekends.</p>
    </li>
    <li class="bullet-item">Monday: 7am</li>
    <li class="bullet-item">Tuesday: 7am</li>
    <li class="bullet-item">Wednesday: 7am & 6.15pm</li>
    <li class="bullet-item">Thursday: 7am</li>
    <li class="bullet-item">Sunday: 6.15pm</li>
  </ul>
</div>


<div class="large-6 columns imgmap">
  <img src="./img/dublin_dojo.jpg">
  <div class='embed-container'><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2381.2382624666006!2d-6.259470199999999!3d53.3568907!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e7d65261d05%3A0x4ddc922e3326f18f!2s1+Gardiner+Street+Upper%2C+Dublin+1!5e0!3m2!1sen!2sie!4v1416242946103" width="455" height="300" frameborder="0" style="border:0"></iframe></div>
</div>
