<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }} - Zen in Ireland</title>
  <link rel="stylesheet" href="/stylesheets/normalize.min.css">
  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
  <script src="/js/vendor/modernizr.js"></script>
  {% seo %}
</head>

<body>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<section class="about">
  <div class="row">
    <div class="large-12 columns">
      <div class="main-wrapper">
        <h1>Zen In Ireland</h1>
        <hr>
        <div class="row">
          <div class="large-6 columns large-centered">
            <ul class="button-group even-4">
              <li><a href="/index.html" class="small button">Home</a></li>
              <li><a href="/about.html" class="small button">About</a></li>
              <li><a href="#" data-dropdown="hover1" class="padfix small button">Locations</a></li>

              <ul id="hover1" class="f-dropdown" data-dropdown-content>
                <li><a href="/dublin.html">Dublin</a></li>
                <li><a href="https://zengalway.ie">Galway</a></li>
                <li><a href="https://www.facebook.com/limerickcityzen/">Limerick</a></li>
                <li><a href="https://www.blackmountainzen.org">Belfast</a></li>
              </ul>
              <li><a href="/index.html#contact" class="small button">Contact</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if page.title == 'Home' %}
  <div class="row">
    <div class="large-6 columns about-box">
      <div class="black-box">
        <h2>‘Therefore, put aside the intellectual practice</h2>
        <p>of investigating words and chasing phrases, and learn to take the backward step that turns the light and shines it inward. Body and mind of themselves will drop away, and your original face will manifest.’</p>
        <p>Fukan-Zazengi, Dogen (1200-1253)</p>
        <a href="about.html" class="secondary small button">Learn More →</a>
      </div>
    </div>
  </div>
  {% endif %}
</section>

<section class="hero-content">
  <div class="row">
    <div class="large-12 columns about-content">
{{ content }}
    </div>
  </div>
</section>

  {% if page.title == 'Home' %}
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <div class="row">
        <div class="large-12 columns" id="contact">
          <h4>Get in touch!</h4>
          <p>For information about Dublin please email: <script type="text/javascript">var a = new Array('.com','zen.in.','ireland@gmail', '?', 'subject=Dublin Zendo');document.write("<a href='mailto:"+a[1]+a[2]+a[0]+a[3]+a[4]+"'>"+a[1]+a[2]+a[0]+"</a>");</script></p>
          <p> For information about Galway please email: <script type="text/javascript">var a = new Array('.com','zengalway','@gmail', '?', 'subject=Galway Zendo');document.write("<a href='mailto:"+a[1]+a[2]+a[0]+a[3]+a[4]+"'>"+a[1]+a[2]+a[0]+"</a>");</script>.
          <p> For information about Limerick please email: <script type="text/javascript">var a = new Array('.com','zengalway','@gmail', '?', 'subject=Limerick Zendo');document.write("<a href='mailto:"+a[1]+a[2]+a[0]+a[3]+a[4]+"'>"+a[1]+a[2]+a[0]+"</a>");</script>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endif %}

<footer>
  <div class="row">
    <div class="large-6 columns">
      <p>© Copyright Zen In Ireland & their respective holders.</p>
    </div>
    <div class="large-6 columns">
      <ul class="inline-list right">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/index.html#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</footer>

<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/jquery-migrate-3.5.2.min.js"></script>
<script src="/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
</body>
</html>
